#user_container
	#name
		I believe everyone can and should learn how to program.
		%br
		%br
	#about
		Right now, educational institutions conflate programming with computer science, which scares off the math-shy like me. At the same time, frameworks like Ruby-on-Rails have made web development so accessible that most anyone who can follow instructions can build a simple app. I want more people recognize programming as a tool for whatever else they want to pursue, and maybe even end up loving it a little...
		%br
		%br
		I recently saw Douglas Rushkoff speak about how most people have so little sense of how websites and apps are created that they don't think of them as man-made environments. "The wallpaper might as well be the window," he said, because they don't know how to see beyond what's directly in front of them, much less go out and explore it.
		%br
		%br
		The web is a fantastic stockpile of resources for people who want to learn programming but it can be hard to know where to start. Help me share what you've found.
		%br
		%br
		<a href="/kateray" style="text-decoration:none"> - kateray </a>